name: Pull Requests

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    if: github.repository == 'royerlab/dexp'

    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install wheel
          pip install pyopencl --prefer-binary
          pip install -e .[dev]
      - name: Lint with flake8
        run: |
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 --ignore E501 . --count --exit-zero --max-complexity=10 --statistics
      - name: Test with pytest and coverage
        run: |
          pytest --cov . --cov-report=xml
      - name: Upload coverage
        uses: codecov/codecov-action@v2

  lint:
    name: Lint Check
    runs-on: ubuntu-latest
    if: github.repository == 'royerlab/dexp'

    strategy:
      matrix:
        python-version: [ 3.8 ]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
      - name: Lint with flake8
        run: |
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 --ignore E501 . --count --exit-zero --max-complexity=10 --statistics
